Django==5.1
djangorestframework==3.15.2
psycopg2-binary==2.9.9
python-decouple==3.8
django-jazzmin
drf-spectacular
django-cors-headers
python-dateutil
djangorestframework-simplejwt==5.3.1
dj-rest-auth==5.0.2
django-allauth==0.57.0
django-filter==24.2
gunicorn==21.2.0
requests==2.31.0
sentry-sdk[django]==2.19.2
gunicorn==21.2.0
